/* INSTRUCTIONS DAY 1 CHALLENGE
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;

  width: 80%;
  padding: 2em;
  margin: 0 auto;

}

.intro-content{
  width: 50%;
}
*/

/* INSTRUCTIONS DAY 2 CHALLENGE
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */


 * {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 80%;
  max-width: 750px;
  background: #23424a;
  color: white;
  margin: 0 auto;
}

.intro-content {
  width: 50%;
  max-width: 500px;
  padding: 2em;
}
.bottom{
  width: 80%;
  max-width: 8000px;
  padding: 2em;

} */

/* .container{
  background-color: #23424A;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 2em;
  font-size: 1rem;
  color: white;
  width: 80%;
  margin: 0 auto;
}
.cont{
  padding: 2em;
  width: 55%;
}
.cont p{
  padding-bottom: 2em;
}
.btn{
  color: black;
  border: 1px solid rgb(78, 205, 209);
  border-radius: 40px;
  padding: .6em;
  background-color: rgb(78, 205, 209);
}
.btn:hover{
  padding: .5em;
  
}
.cont a{
  text-decoration: none;
  font-weight: 700;
  font-size: .7rem;
  text-transform: uppercase;
  

  
} */

/* 
////// For this challenge ///////

- You will have to modify the HTML

- You can add new classes in the HTML
  if you need to

// Requirements
1. The headings in the first row must be
   a different color
2. The two .col at the bottom must go next
   to one another
3. The section at the bottom should have
   a dark background color and a different
   color of text
4. I've removed the "gap" that I created,
   so you'll have to add it back in

   */

   *, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2em;

}
.hero_cont{
  display: flex;
  margin: 0 auto;
  padding: 2em;
  align-content: space-between;


}
.container img {
  align-self: flex-start;
  width: 45vw;
  padding: 2em;
  text-align: right;


}
.row {
    /* display: flex => flex container */
    display: flex;

    /* can't use yet */
    /* gap: 100px; */

    background-color: tomato;
    margin: 0 auto;
    align-content: space-between;

}
.col2{
  background-color: rgb(17, 16, 16);
  color: white;
  margin-top: 2em;
}

.col {
    /* these are now flex items */
    align-items: center;

}
.col h2{
  text-align: center;
  color: grey;
}
.col p {
  padding: 1em;
  text-align: center;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__text {
    width: 50vw;
}

.hero p {
    margin-bottom: 3em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}