 * {
   margin: 0;
   padding: 0;
 }

/* INSTRUCTIONS DAY 1 CHALLENGE
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;

  width: 80%;
  padding: 2em;
  margin: 0 auto;

}

.intro-content{
  width: 50%;
}
*/

/* INSTRUCTIONS DAY 2 CHALLENGE
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */


 * {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 80%;
  max-width: 750px;
  background: #23424a;
  color: white;
  margin: 0 auto;
}

.intro-content {
  width: 50%;
  max-width: 500px;
  padding: 2em;
}
.bottom{
  width: 80%;
  max-width: 8000px;
  padding: 2em;

} */

/* .container{
  background-color: #23424A;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 2em;
  font-size: 1rem;
  color: white;
  width: 80%;
  margin: 0 auto;
}
.cont{
  padding: 2em;
  width: 55%;
}
.cont p{
  padding-bottom: 2em;
}
.btn{
  color: black;
  border: 1px solid rgb(78, 205, 209);
  border-radius: 40px;
  padding: .6em;
  background-color: rgb(78, 205, 209);
}
.btn:hover{
  padding: .5em;
  
}
.cont a{
  text-decoration: none;
  font-weight: 700;
  font-size: .7rem;
  text-transform: uppercase;
  

  
} */

/*  Flex chanllenge
////// For this challenge ///////

- You will have to modify the HTML

- You can add new classes in the HTML
  if you need to

// Requirements
1. The headings in the first row must be
   a different color
2. The two .col at the bottom must go next
   to one another
3. The section at the bottom should have
   a dark background color and a different
   color of text
4. I've removed the "gap" that I created,
   so you'll have to add it back in

   */

   /* *, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2em;
    align-content: space-between;

}
.hero_cont{
  display: flex;
  margin: 0 auto;
  padding: 2em;
  align-content: space-between;


}
.container img {
  align-self: flex-start;
  width: 45vw;
  padding: 2em;
  text-align: right;
}
.row {
    display: flex;


    background-color: tomato;
    margin: 0 auto;
    align-content: space-between;

}
.col2{
  background-color: rgb(17, 16, 16);
  color: white;
  margin-top: 2em;
}

.col {
    align-items: center;

}
.col h2{
  text-align: center;
  color: grey;
}
.col p {
  padding: 1em;
  text-align: center;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__text {
    width: 50vw;
}

.hero p {
    margin-bottom: 3em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 700;
    background-color: #38CFD9;
    padding: .75em .9em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
} */



/* Differnent exercise */
.container{
  width: 80%;
  max-width: 1128px;

  padding: 4em;
  margin: 0 auto;
  
}
.container-first-section{
  min-height: 660px;
  background-color: #F3EED9;

  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  
}

.cont{
  text-align: center;
  font-size: 1rem;

}
.cont h1{
  color: #824936;
}
.container-second-section{
  background-color: #fff;
}

.second-section-para{
  display: flex;
  justify-content: center;

}
@media (max-width: 700px) {
  .second-section-para{
    display: block;
  }
  
}
.second-section-para p{
  text-align: left;
  width: 50%;
  margin-right: 2em;
}
@media (max-width: 700px) {
  .second-section-para p{
     width: 100;
  }
  
}

.container-three{
  color: white;
  background-color: #824936;
  width: 80%;
  margin: 0 auto;
}
.third-section-para{
  padding: 2em;
  display: flex;
  justify-content: center;
  
}
.custom{
  margin:0 2em;
  width: 50%;

  align-items: flex-start;

}
.third-section-para img{
  width: 50%;
}
.last-section{
  background-color: #222c2a;
} 


/* Navigation styling */
/* styling of the backgroung of the button */
.navigation__background{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-image: radial-gradient(rgb(217, 225, 216), rgb(52, 248, 13));
  z-index: 1000;

  transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* styling of the menu button */

.navigation__button{
  background-color: #fff;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 .3rem 1rem black;
  text-align: center;
  cursor: pointer;
} 

 

/* hide the check box */
.navigation__checkbox{
  display: none;
}
.navigation__nav{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;

/* so that it will not display on the page */
  opacity: 0;
  width: 0;

  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}


.navigation__list{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navigation__link{
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation__item{
  margin: 1rem;
}

.navigation__checkbox:checked ~ .navigation__background{
  transform: scale(50);
}

.navigation__checkbox:checked ~ .navigation__nav{
  opacity: 1;
  width: 100%;
}

/* icon */

.navigation__icon{
  margin-top: 2rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after{
  position: relative;
   width: 2rem;
   height: 2px;
   background-color: rgb(41, 36, 36);
   display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after{
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}
.navigation__icon::before{
  top: -.75rem;
}

.navigation__icon::after{
  top: .75rem;
}

.navigation__button:hover .navigation__icon::before{
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after{
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon{
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before{
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after{
  top: 0;
  transform: rotate(-135deg);
}


/* POPUP  page*/
.popup{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(16, 15, 15, 0.8);
  z-index: 2500;


  /* to hide the pop page  */
  opacity: 0;
  visibility: hidden;
  transition: all .3s;


}

.popup__content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 75%;
  background-color: white;

  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  /* to let them have the same height */
  display: table;


  /* to avodid overlapping */
  overflow: hidden;


  /* for it to comes toward the users */
  opacity: 0;
  transform: translate(-50%, -50%) scale(.25);

  /* animation */
  transition: all .4s .2s;
}


/* the target of the popup or open state*/
.popup:target{
  opacity: 1;
  visibility: visible;
}

/* the popup become the target and then we have to style the child element of the popuo  */
.popup:target .popup__content{
  opacity: 1 ;
  transform: translate(-50%, -50%) scale(1);


}
.popup__left{
  width: 33.3333333333333%;

    /* to let them have the same height */
  display: table-cell;
}

.popup__right{
  width: 66.66666666666667%;

    /* to let them have the same height */
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}


.popup__close:link, 
.popup__close:visited{
  color: darkgrey;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  line-height: 1;
}

.popup__close:hover{
  color: green;
}
.popup__right h2, .popup__right h3 {
  margin-bottom: .5em;
}

.popup__right h2{
  text-align: center;
}

.popup__img{
  display: block;
  width: 100%;
}
.popup__text{
  font-size: 1rem;
  margin-bottom: 1em;

  /* to make the test justify  */
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid grey;

  hyphens: auto;
}